.ui.borderless.topmenu.menu {
  height: 100px;
  border: none;
  padding-bottom: none;
}

.ui.two.column.grid {
  box-shadow: none;
  border: none;
  height: 2000px;
  padding-top: none; !important
}

.grad-background {
  border: none;
  box-shadow: none;
  padding: none;
}
